@tailwind base;

body {
    overflow-x: hidden;
}

#site-header-banner {
    @apply flex items-center justify-center;
}

#side-banner {
    width: 300px;
    height: 600px;
    right: -330px;
}

@tailwind components;
@tailwind utilities;

/**
 Typography
 */
.single article h1,
.single article h2 {

}

article .entry-content h2 {
    @apply py-2 text-3xl;
}

article .entry-content h3 {
    @apply text-2xl font-light my-1;
}

article .entry-content p {
    @apply mb-4 leading-5;
}


/**
 Header
 */
#header-search-form {

}

/**
 Footer
 */
#site-footer-content {
    @apply relative overflow-hidden;
}

#site-footer-content::before {
    @apply absolute right-0 top-0 h-full;
    content: "";
    width: 142px;
    background: url("./../img/footer-decoration.png") 0 50%;
}